.nav {
    &__header {
        background-color: rgb(225, 243, 146);
        width: 100%;
    }

    &__content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 8px 40px;
        margin: auto;
        max-width: 1416px;
        position: relative;
        height: 80px;
    }

    &__logo img {
        height: 40px;
        width: auto;
    }

}