.status {
  display: inline-flex;
  border-radius: 6px;
  letter-spacing: 2px;
  padding: 8px 8px;
  align-items: center;
  justify-content: center;
  line-height: 10px;

  &--success {
    background-color: rgb(100, 172, 17);
    color: rgb(30, 46, 12);
  }

  &--warn {
    background-color: rgb(221, 231, 42);
    color: rgb(18, 19, 15);
  }

  &--error {
    background-color: rgb(232, 86, 8);
    color: rgb(28, 19, 12);
  }
}